<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
        <div class="container">
            <div
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
                ><span class="navbar-toggler-icon"></span>
            </div>
            <div class="container collapse navbar-collapse" id="navbarNav">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип">
                </a>
                <ul class="nav nav-pills mx-auto">
                    <li class="nav-item">
                        <a class="nav-link rounded-pill active" href="{{ url_for('index') }}">Главная</a>
                    </li>
                </ul>
                <div class="btn-group gap-2">
                    <a class="btn btn-primary rounded-pill" href="{{ url_for('register') }}">Зарегистрироваться</a>
                    <a class="btn border border-dark rounded-pill" href="{{ url_for('login') }}">Войти</a>
                </div>
            </div>
        </div>
    </nav>
</header>
