<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.type != 'HiddenField' and field.type != 'SubmitField' %}
                <div>
                    {{ field.label }}<br>
                    {{ field(size=32) }}
                    {% if field.errors %}
                        <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        {{ form.submit() }}
    </form>
</body>
</html>
